{% extends "::base.html.twig" %}

{% block title %}AppBundle:CategorieController:addCategorie{% endblock %}

{% block body %}
<h1>Welcome to the CategorieController:addCategorie page</h1>
{% endblock %}
