{% extends "::base.html.twig" %}

{% block title %}AppBundle:CategorieController:deleteCategorie{% endblock %}

{% block body %}
<h1>Welcome to the CategorieController:deleteCategorie page</h1>
{% endblock %}
