{% extends "::base.html.twig" %}

{% block title %}AppBundle:CategorieController:listCategorie{% endblock %}

{% block body %}
<h1>Welcome to the CategorieController:listCategorie page</h1>
{% endblock %}
