{% extends "::base.html.twig" %}

{% block title %}AppBundle:CategorieController:readCategorie{% endblock %}

{% block body %}
<h1>Welcome to the CategorieController:readCategorie page</h1>
{% endblock %}
